<% include include/header.ejs %>
	<div class="container main">
		<a href="/logout">로그아웃</a>
		<h2>내 게임</h2>
		<ul class="list">
			<% for (i = 0; i < room.length; i++) { %>
				<% for (j = 0; j < room[i].member.length; j++) { %>
					<% if (user.user_nick === room[i].member[j]) { %>
			<li>
				<a href="/room?roomId=<%= room[i]._id %>">
					<ul>
						<li><%= room[i].name %></li>
						<li>방장 : <%= room[i].admin %></li>
						<li>참여인원 : <%= room[i].member.length %>/4</li>
						<li><%= room[i].start %></li>
						
					</ul>
				</a>
			</li>
			<% } } } %>
		</ul>
		<h2>방 목록</h2>
		<ul class="list">
			<% for (i = 0; i < room.length; i++) { %>
			<li>
				<a href="/room?roomId=<%= room[i]._id %>">
					<ul>
						<li><%= room[i].name %></li>
						<li>방장 : <%= room[i].admin %></li>
						<li>참여인원 : <%= room[i].member.length %>/4</li>
						<li><%= room[i].start %></li>
					</ul>
				</a>
			</li>
			<% } %>
			<li class="last"><form action="/roomCreat" method="post"><input type="submit" value="방만들기" /></form></li>
		</ul>
	</div>
    <script>
	</script>
<% include include/footer.ejs %>